# Maven
target/
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# OS files
.DS_Store
Thumbs.db

# Compiled classes
*.class

# Env files
.env

# Generated folders (package structure like org/example)
**/org/
